@model IEnumerable<TransactionManagementSystem.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDescription)
            </th>
            <th>
                Credit
            </th>
            <th>
                Debit
            </th>
            @*  <th>
            @Html.DisplayNameFor(model => model.TransactionType)
            </th> *@
            @*   <th>
            @Html.DisplayNameFor(model => model.TransctionAmount)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.RunningBalance)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDescription)
                </td>
                <td>
                    @{
                        if(item.TransactionType == "Credit")
                        {
                            @Html.DisplayFor(modelItem => item.TransctionAmount)
                        }                    
                    }
                </td>
                <td>
                    @{
                        if (item.TransactionType == "Debit")
                        {
                            @Html.DisplayFor(modelItem => item.TransctionAmount)
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunningBalance)
                </td>

                @* <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
            </tr>
        }
    </tbody>
</table>
